body{
    margin: 0;
    font-family: 'Times New Roman';
    background-image: url(Fundo.png);
    background-size: cover;
}

#cabecalho{
    background-color: #38454d;
    padding: 8px;
}

#logo{
    width: 5em;
}

#login{
    width: 13em;
    height: 13em;
    box-shadow: #000 6px 6px 16px;
    padding: 16px;
    border-radius: 16px;
    font-size: xx-large;
    background-color: white;
    text-align: center;
}

#ContainerLogin{
    height: 41em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.escreva{
    width: 95%;
    height: 15%;
    font-size: x-large;
}

#btnConf{
    padding: 10px 50px;
    font-size: large;
    border: #38454d solid 1px;
    background-color: #ffd749;
    border-radius: 12px;
    transition-duration: 400ms;
}

#btnConf:hover{
    background-color: #38454d;
    cursor: pointer;
    color: #ffd749;
    transition-duration: 400ms;
}

#btn{
    width: 72%;
    height: 1%;
    display: flex;
    justify-content: right;
    align-items: end;
}

#txtLogin{
    padding-left: 10px;
    text-align: left;
}

#titleLogin{
    font-size: larger;
    font-weight: bolder;
}

#reg{
    display: flex;
    justify-content: right;
    font-size: medium;
    padding: 14px 10px;
}

#linkReg{
    color: #38454d;
    text-decoration: none;
}

#linkReg:hover{
    color: #000;
}

input:invalid{
    border: 4px 4px red;
}

input:valid{
    border: 4px 4px green;
}

#msgErro{
    font-size: large;
    color: red;
    font-weight: 600;
}