body{
    margin: 0;
    font-family: 'Times New Roman';
    background-image: url(Fundo.png);
    background-size: cover;
}

#cabecalho{
    background-color: #38454d;
    padding: 8px;
}

#logo{
    width: 5em;
}

#report{
    width: 13em;
    height: 15em;
    box-shadow: #000 6px 6px 16px;
    padding: 16px;
    border-radius: 16px;
    font-size: xx-large;
    background-color: white;
}

#ContainerReport{
    height: 45em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#escreva{
    width: 95%;
    height: 15%;
    font-size: x-large;
}

#btnConf{
    padding: 10px 50px;
    font-size: large;
    border: #38454d solid 1px;
    background-color: #ffd749;
    border-radius: 12px;
    transition-duration: 400ms;
}

#btnConf:hover{
    background-color: #38454d;
    cursor: pointer;
    color: #ffd749;
    transition-duration: 400ms;
}

#btn{
    width: 72%;
    height: 1%;
    display: flex;
    justify-content: right;
    align-items: end;
}

#txtReport{
    padding-left: 10px;
}

#titleReport{
    font-size: larger;
    font-weight: bolder;
    padding: 130px;
}
