<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cadastro.css') }}">
    <link rel="shortcut icon" href="static/favicon.png" type="static/x-icon">
</head>
<body>
    <header id="cabecalho">
        <a href="https://www.dsin.com.br/" target="_blank"><img src="static/logo.png" alt="" id="logo"></a>
    </header>
    <main>
        <section id="ContainerCad">
            <form action="cadastro" id="cadastro" method="post">
                <label for="" id="titleCad">CADASTRO</label>
                <br><br>
                <div id="txtCad">
                    <label for="usuario">Usuário:</label>
                    <br>
                    <input type="text" class="escreva" name="usuario">
                    <br><br>
                    <label for="senha">Senha:</label>
                    <br>
                    <input type="password" class="escreva" name="senha">
                    <br><br>
                    <label for="confSenha">Confirmar Senha:</label>
                    <br>
                    <input type="password" class="escreva" name="confSenha">
                </div>
                <br><br>
                <div id="btn">
                    <a href="report.html"><button id="btnConf">Confirmar</button></a>
                </div>
            </form>
        </section>
    </main>
</body>
</html>