<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_525a59873f34c2391148a2e658886d32 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css"/>
    <script src="https://cdn.jsdelivr.net/npm/leaflet.fullscreen@3.0.0/Control.FullScreen.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.fullscreen@3.0.0/Control.FullScreen.css"/>
</head>
<body>
    
    
            <div class="folium-map" id="map_525a59873f34c2391148a2e658886d32" ></div>
        
</body>
<script>
    
    
            var map_525a59873f34c2391148a2e658886d32 = L.map(
                "map_525a59873f34c2391148a2e658886d32",
                {
                    center: [-22.2127829, -49.9557924],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );
            L.control.scale().addTo(map_525a59873f34c2391148a2e658886d32);

            

        
    
            var tile_layer_6bcd39a49a18bf38bbfd9c64155294a5 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_6bcd39a49a18bf38bbfd9c64155294a5.addTo(map_525a59873f34c2391148a2e658886d32);
        
    

            var geocoderOpts_geocoder_1dfdaf497c20095a4f9af3951ef0c239 = {"collapsed": false, "defaultMarkGeocode": true, "position": "topright", "provider": "nominatim", "providerOptions": {}, "zoom": 11};

            // note: geocoder name should start with lowercase
            var geocoderName_geocoder_1dfdaf497c20095a4f9af3951ef0c239 = geocoderOpts_geocoder_1dfdaf497c20095a4f9af3951ef0c239["provider"];

            var customGeocoder_geocoder_1dfdaf497c20095a4f9af3951ef0c239 = L.Control.Geocoder[ geocoderName_geocoder_1dfdaf497c20095a4f9af3951ef0c239 ](
                geocoderOpts_geocoder_1dfdaf497c20095a4f9af3951ef0c239['providerOptions']
            );
            geocoderOpts_geocoder_1dfdaf497c20095a4f9af3951ef0c239["geocoder"] = customGeocoder_geocoder_1dfdaf497c20095a4f9af3951ef0c239;

            L.Control.geocoder(
                geocoderOpts_geocoder_1dfdaf497c20095a4f9af3951ef0c239
            ).on('markgeocode', function(e) {
                var zoom = geocoderOpts_geocoder_1dfdaf497c20095a4f9af3951ef0c239['zoom'] || map_525a59873f34c2391148a2e658886d32.getZoom();
                map_525a59873f34c2391148a2e658886d32.setView(e.geocode.center, zoom);
            }).addTo(map_525a59873f34c2391148a2e658886d32);

        
    
            L.control.fullscreen(
                {"forceSeparateButton": true, "position": "topright", "title": "Expand me", "titleCancel": "Exit me"}
            ).addTo(map_525a59873f34c2391148a2e658886d32);
        
    
            var marker_e485917685a2e67f6cac5e519444040d = L.marker(
                [-22.188391, -49.9203036],
                {}
            ).addTo(map_525a59873f34c2391148a2e658886d32);
        
    
            var marker_96bf733eb7ebc3ae71e0cd21284f6cbd = L.marker(
                [-22.2152409, -49.9665217],
                {}
            ).addTo(map_525a59873f34c2391148a2e658886d32);
        
    
            var marker_5ea347a3be3ed6e691d62769889e0e43 = L.marker(
                [-22.2152409, -49.9665217],
                {}
            ).addTo(map_525a59873f34c2391148a2e658886d32);
        
    
            var marker_8abea1fd47b3811fd18982ae595f5fba = L.marker(
                [-22.1900468, -49.931952],
                {}
            ).addTo(map_525a59873f34c2391148a2e658886d32);
        
    
            var marker_c605ff2364280fb2ee79f22fb11e12bd = L.marker(
                [-23.3169275, -46.226327],
                {}
            ).addTo(map_525a59873f34c2391148a2e658886d32);
        
    
            var marker_935ee4e7bbd46191d1eb4670bc41e484 = L.marker(
                [-22.171697, -49.9765815],
                {}
            ).addTo(map_525a59873f34c2391148a2e658886d32);
        
</script>
</html>