<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='report.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" type="imgs/x-icon">
</head>
<body>
    <header id="cabecalho">
        <a href="https://www.dsin.com.br/" target="_blank"><img src="static/logo.png" alt="" id="logo"></a>
    </header>
    <main>
        <section id="ContainerReport">
            <form action="toMap" id="report" method="post">
                <label id="titleReport">REPORT</label>
                <br><br>
                <div id="txtReport">
                    <label for="end">Endereço:</label>
                    <br>
                    <input type="text" class="escreva" name="end" minlength="8" required>
                    <br><br>
                    <label for="situacao">Situação:</label>
                    <select name="situacao" id="situacao">
                        <option value="bur">Buraco</option>
                        <option value="sem">Semáforo</option>
                        <option value="vaz">Vazamento</option>
                        <option value="obs">Obstrução</option>
                    </select>
                    <br><br>
                    <label for="foto">Foto:</label>
                    <br>
                    <input type="file" name="foto" id="escolhaFoto">
                </div>
                <br><br>
                <div id="btn">
                    <a href="report.html"><button id="btnConf">Confirmar</button></a>
                </div>
            </form>
        </section>
    </main>
</body>
</html>
